---
layout: default
title: Home
---
Hello! Welcome to my little hub on the internet. I am Juhi. I work as a Data scientist in Silicon Valley. I have a background quantitative finance, economics, and engineering. I obtained my Masters in Finance from Massachusetts Institute of Technology, where I focussed on factor modeling for fixed income and equity assets. I graduated from BITS Pilani, India with a Masters in Economics and a Bachelors in Civil Engineering.

In my spare time, I enjoy being outdoors - hiking, skiing or just being in the mountains. I also love reading books. My interests are evolutionary biology, psychology, astronomy and history. 

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
